/* .footer{
    background-color: blue;
    padding: 1rem 0;
    text-align: center;
    color: white;
}

.navbar{
    background-color: red;
    padding: 4rem 0;
    text-align: center;
    color: white;
    width: 50%;
}

.content{
    background-color: orange;
    padding: 4rem 0 ;
    text-align: center;
    color: white;
    width: 50%;
} */

/* .glasses-app-container {
  text-align: center;
  
}

.model-display {
  position: relative; 
  display: inline-block; 
}

.base-model-img {
  width: 300px; 
  height: 400px;
  display: block;
}

.overlay-glass-img {
  position: absolute;
  top: 33%;   
  left: 50%; 
  transform: translate(-50%, -50%); 
  width: 60%; 
  height: auto;
  z-index: 10;
  opacity: 0.6; 
}

.glass-details {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 35%;
  width: 100%;
  background-color: rgba(245, 95, 141, 0.8); 
  color: white;
  padding: 10px;
  box-sizing: border-box;
}


.glasses-thumbnails {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px; 
}

.glasses-thumbnails li button {
  background: none;
  border: 2px solid transparent;
  cursor: pointer;
  padding: 5px;
  transition: border-color 0.3s ease;
}

.glasses-thumbnails li button:hover {
  border-color: #007bff; /
}

.glasses-thumbnails li img {
  width: 100px;
  height: auto;
  display: block;
} */