/* .footer{
    background-color: blue;
    padding: 1rem 0;
    text-align: center;
    color: white;
}

.navbar{
    background-color: red;
    padding: 4rem 0;
    text-align: center;
    color: white;
    width: 50%;
}

.content{
    background-color: orange;
    padding: 4rem 0 ;
    text-align: center;
    color: white;
    width: 50%;
} */